<section class="section section-faq">
  <div class="container">
    <h2 class="faq-title">
      Frequently asked
      <span>question</span>
    </h2>

    <div class="faq-accordion">
      <div>
        <picture class="faq-image">
          <source
            srcset="
              ./img/FAQ/decor-FAQ-desk-1x.png 1x,
              ./img/FAQ/decor-FAQ-desk-2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <img src="./img/FAQ/decor-FAQ-desk-1x.png" alt="FAQ Image" />
        </picture>
      </div>
      <div>
        <ul class="accordion-list">
          <li class="accordion">
            <div class="accordion-block">
              <div data-tab="tab-1" class="accordion-title">
                <h3 class="accordion-list-title">
                  What programming languages are most often used in your
                  project?
                </h3>
                <span>
                  <svg
                    class="icon-checkmark"
                    width="20"
                    height="20"
                    aria-label="icon-checkmark"
                  >
                    <use href="./img/icons.svg#faq-arrow-down-icon"></use>
                  </svg>
                </span>
              </div>
              <div id="tab-1" class="accordion-content">
                <p>
                  In the field of web development, there are various
                  technologies and programming languages. Typically, this
                  includes a combination of frontend (client side) and backend
                  (server side) languages.
                </p>
              </div>
            </div>
          </li>

          <li class="accordion">
            <div class="accordion-block">
              <div data-tab="tab-2" class="accordion-title">
                <h3 class="accordion-list-title">
                  What are the deadlines for the project?
                </h3>
                <span>
                  <svg
                    class="icon-chekmark"
                    width="20"
                    height="20"
                    aria-label="icon-chekmark"
                  >
                    <use href="./img/icons.svg#faq-arrow-down-icon"></use>
                  </svg>
                </span>
              </div>
              <div id="tab-2" class="accordion-content">
                <p>
                  The terms of project implementation depend to a large extent
                  on a number of factors, such as the scope of the project, its
                  complexity, and the availability of resources. Determining
                  exact deadlines is a difficult task, and it usually occurs
                  during the planning phase of the project.
                </p>
              </div>
            </div>
          </li>

          <li class="accordion">
            <div class="accordion-block">
              <div data-tab="tab-3" class="accordion-title">
                <h3 class="accordion-list-title">
                  What payment methods do you accept?
                </h3>
                <span>
                  <svg
                    class="icon-chekmark"
                    width="20"
                    height="20"
                    aria-label="icon-chekmark"
                  >
                    <use href="./img/icons.svg#faq-arrow-down-icon"></use>
                  </svg>
                </span>
              </div>
              <div id="tab-3" class="accordion-content">
                <p>
                  Payment through credit and debit cards such as Visa,
                  MasterCard, specialized electronic payment systems such as
                  PayPal, as well as payments in cryptocurrencies such as
                  Bitcoin, Ethereum and others.
                </p>
              </div>
            </div>
          </li>

          <li class="accordion">
            <div class="accordion-block">
              <div data-tab="tab-4" class="accordion-title">
                <h3 class="accordion-list-title">How can I contact you?</h3>
                <span>
                  <svg
                    class="icon-chekmark"
                    width="20"
                    height="20"
                    aria-label="icon-chekmark"
                  >
                    <use href="./img/icons.svg#faq-arrow-down-icon"></use>
                  </svg>
                </span>
              </div>
              <div id="tab-4" class="accordion-content">
                <p>
                  In the field of web development, there are various
                  technologies and programming languages. Typically, this
                  includes a combination of frontend (client side) and backend
                  (server side) languages.
                </p>
              </div>
            </div>
          </li>

          <li class="accordion">
            <div class="accordion-block">
              <div data-tab="tab-5" class="accordion-title">
                <h3 class="accordion-list-title">
                  Do you provide advice or support?
                </h3>
                <span>
                  <svg
                    class="icon-chekmark"
                    width="20"
                    height="20"
                    aria-label="icon-chekmark"
                  >
                    <use href="./img/icons.svg#faq-arrow-down-icon"></use>
                  </svg>
                </span>
              </div>
              <div id="tab-5" class="accordion-content">
                <p>
                  The terms of project implementation depend to a large extent
                  on a number of factors, such as the scope of the project, its
                  complexity, and the availability of resources. Determining
                  exact deadlines is a difficult task, and it usually occurs
                  during the planning phase of the project.
                </p>
              </div>
            </div>
          </li>

          <li class="accordion">
            <div class="accordion-block">
              <div data-tab="tab-6" class="accordion-title">
                <h3 class="accordion-list-title">
                  What does the process of developing a software product look
                  like from idea to implementation?
                </h3>
                <span>
                  <svg
                    class="icon-chekmark"
                    width="20"
                    height="20"
                    aria-label="icon-chekmark"
                  >
                    <use href="./img/icons.svg#faq-arrow-down-icon"></use>
                  </svg>
                </span>
              </div>
              <div id="tab-6" class="accordion-content">
                <p>
                  Payment through credit and debit cards such as Visa,
                  MasterCard, specialized electronic payment systems such as
                  PayPal, as well as payments in cryptocurrencies such as
                  Bitcoin, Ethereum and others.
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
