<!-- <footer class="footer"> -->
  <!-- <div class="container">
    <a class="link-logo footer-link-logo" href="./index.html"
      >LloydJefferson.</a
    >
  </div> -->

  
  <footer class="section section-footer">
   <div class="container">
    <div class="footer-container-desktop-text">

    <p class ="footer-logo">Lloyd<span class ="footer-log-green">Jefferson.</span> </p>
    <ul class="footer-list-socials">
        <li class ="footer-item-social"><a href="https://www.instagram.com/goitclub/" target="_blank" rel="noopener noreferrer">Instagram</a></li>
        <li class ="footer-item-social"><a href="https://www.facebook.com/goITclub/" target="_blank"  rel="noopener noreferrer">Facebook</a></li>
        <li class ="footer-item-social"><a href="https://www.linkedin.com/school/goit-start-your-career-in-it" target="_blank"  rel="noopener noreferrer">Linkedin</a></li>
        <li  class ="footer-item-social"><a href="" target="_blank">GitHub</a></li>
   
    </ul>
  </div>
    <p class="footer-text-cpoyright">© Copyright 2024. Made by LloydJefferson</p>
  </div>


</footer>
