<section class="section section-hero">
  <div class="container">
    <div class="hero-container">
      <h2 class="title hero-title">Hello, I am
        <picture class="hero-img-desk">
      <source
        srcset="
        ./img/hero/img-desk-1x.jpg 1x, 
        ./img/hero/img-desk-2x.jpg 2x"
        media="(min-width: 1280px)"
      />
      <img src="./img/hero/img-desk-1x.jpg" alt="frontend developer image"  />
    </picture>
    <span class="hero-title-accent">Fullstack developer</span>
      </h2>
      <div class="hero-row">
       <button id="scrollButton" class="hero-button" type="button">
          <svg class="hero-button-arrow" width="30" height="16">
              <use href="./img/icons.svg#hero-arrow-icon"></use>
            </svg>
            <span class="hero-button-order">Order the project</span>
            <span class="hero-button-bg"></span>
        </button>
                  <div class="hero-moto">
                    <p class="hero-moto-text">I work with people all over the world to create <span class="hero-moto-accent">impressive </span>and <span class="hero-moto-accent">functional websites </span> that reflect each client’s unique personality. 
                    </p>     
                  </div>
                </div>
    </div>
    <div class="hero-social">
      <ul class="hero-social-list">
        <li class="hero-social-item">
          <a href="https://www.instagram.com/goitclub/" target="_blank" class="hero-social-target-link">Instagram</a>
        </li>
        <li class="hero-social-item">
          <a href="https://www.facebook.com/goITclub/" target="_blank" class="hero-social-target-link">Facebook</a>
        </li>
        <li class="hero-social-item">
          <a href="https://www.linkedin.com/school/goit-start-your-career-in-it/" target="_blank" class="hero-social-target-link">Linkedin</a>
        </li>
        <li class="hero-social-item">
          <a href="https://note-m.github.io/Web-project/" target="_blank" class="hero-social-target-link">GitHub</a>
        </li>
      </ul>

    </div>
  </div>
</section>
