<section class="section section-reviews">
  <div class="container">
    <h2 class="title reviews-title">Reviews</h2>
    <div class="swiper-container">
      <ul class="reviews-list swiper-wrapper">
        <li class="swiper-slide user-review">
          <p class="text-review">
            Work with was extraordinary! He turned out to be a very competent
            and responsible specialist. The projects were completed on time and
            the result exceeded my expectations
          </p>
          <div class="icon-photo-name">
            <img
              src="../img/reviews/avatar-girl.png"
              alt="natalia"
              width="40"
              height="40"
              class="avatar-icon"
            />
            <p class="user-name-review">Natalia Shevchenko</p>
          </div>
        </li>
        <li class="swiper-slide user-review">
          <p class="text-review">
            I have the honor to recommend him as an exceptional professional in
            his field. His knowledge and expertise are undeniable. Cooperation
            with him always brings impressive results.
          </p>
          <div class="icon-photo-name">
            <img
              src="../img/reviews/avatar-boy.png"
              alt="dmytro"
              width="40"
              height="40"
              class="avatar-icon"
            />
            <p class="user-name-review">Dmytro Nazarenko</p>
          </div>
        </li>
      </ul>
      <div class="bnt-box">
        <button class="btn-prev swiper-button-prev">
          <svg class="icon-swipe" width="24" height="24">
            <use href="../img/icons.svg#reviews-grey-arrow-icon"></use>
          </svg>
        </button>
        <button class="btn-next swiper-button-next">
          <svg class="icon-swipe" width="24" height="24">
            <use href="../img/icons.svg#reviews-black-arrow-icon"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
