<section class="section section-tech-skills">
  <div>
    <h2 class="title tech-skills-title">Tech skills</h2>
    <div class="marquee wrapper-one">
      <div class="marquee__inner inner-one">
        <ul class="marquee__line line-one line-order-one">
          <li class="li-item">
            HTML/CSS
            <svg class="tech-skills-green-square-icon" width="8" height="8">
              <use href="./img/icons.svg#tech-skills-green-square-icon"></use>
            </svg>
          </li>
          <li class="li-item">
            JavaScript
            <svg class="tech-skills-green-square-icon" width="8" height="8">
              <use href="./img/icons.svg#tech-skills-green-square-icon"></use>
            </svg>
          </li>
          <li class="li-item">
            React
            <svg class="tech-skills-green-square-icon" width="8" height="8">
              <use href="./img/icons.svg#tech-skills-green-square-icon"></use>
            </svg>
          </li>
          <li class="li-item">
            Node.js
            <svg class="tech-skills-green-square-icon" width="8" height="8">
              <use href="./img/icons.svg#tech-skills-green-square-icon"></use>
            </svg>
          </li>
          <li class="li-item react-native">
            <div class="react-list">
              <span class="react-item">React </span
              ><span class="react-item"> Native</span>
            </div>

            <svg class="tech-skills-green-square-icon" width="8" height="8">
              <use href="./img/icons.svg#tech-skills-green-square-icon"></use>
            </svg>
          </li>
          <li class="li-item">
            Typescript

            <svg class="tech-skills-green-square-icon" width="8" height="8">
              <use href="./img/icons.svg#tech-skills-green-square-icon"></use>
            </svg>
          </li>
        </ul>
        <ul class="marquee__line line-two line-order-one">
          <li class="li-item">
            HTML/CSS<svg
              class="tech-skills-green-square-icon"
              width="8"
              height="8"
            >
              <use href="./img/icons.svg#tech-skills-green-square-icon"></use>
            </svg>
          </li>
          <li class="li-item">
            JavaScript<svg
              class="tech-skills-green-square-icon"
              width="8"
              height="8"
            >
              <use href="./img/icons.svg#tech-skills-green-square-icon"></use>
            </svg>
          </li>
          <li class="li-item">
            React<svg
              class="tech-skills-green-square-icon"
              width="8"
              height="8"
            >
              <use href="./img/icons.svg#tech-skills-green-square-icon"></use>
            </svg>
          </li>
          <li class="li-item">
            Node.js<svg
              class="tech-skills-green-square-icon"
              width="8"
              height="8"
            >
              <use href="./img/icons.svg#tech-skills-green-square-icon"></use>
            </svg>
          </li>
          <li class="li-item">
            <div class="react-list">
              <span class="react-item">React </span
              ><span class="react-item">Native</span>
            </div>
            <svg class="tech-skills-green-square-icon" width="8" height="8">
              <use href="./img/icons.svg#tech-skills-green-square-icon"></use>
            </svg>
          </li>
          <li class="li-item">
            Typescript<svg
              class="tech-skills-green-square-icon"
              width="8"
              height="8"
            >
              <use href="./img/icons.svg#tech-skills-green-square-icon"></use>
            </svg>
          </li>
        </ul>
      </div>
    </div>
    <div class="marquee marqueet wrapper-two">
      <div class="marquee__inner inner-two">
        <ul class="marquee__line line-one line-order-two">
          <li class="li-item">
            HTML/CSS
            <svg class="tech-skills-green-square-icon" width="8" height="8">
              <use href="./img/icons.svg#tech-skills-black-square-icon"></use>
            </svg>
          </li>
          <li class="li-item">
            JavaScript
            <svg class="tech-skills-green-square-icon" width="8" height="8">
              <use href="./img/icons.svg#tech-skills-black-square-icon"></use>
            </svg>
          </li>
          <li class="li-item">
            React
            <svg class="tech-skills-green-square-icon" width="8" height="8">
              <use href="./img/icons.svg#tech-skills-black-square-icon"></use>
            </svg>
          </li>
          <li class="li-item">
            Node.js
            <svg class="tech-skills-green-square-icon" width="8" height="8">
              <use href="./img/icons.svg#tech-skills-black-square-icon"></use>
            </svg>
          </li>
          <li class="li-item react-native">
            <div class="react-list">
              <span class="react-item">React </span
              ><span class="react-item"> Native</span>
            </div>

            <svg class="tech-skills-green-square-icon" width="8" height="8">
              <use href="./img/icons.svg#tech-skills-black-square-icon"></use>
            </svg>
          </li>
          <li class="li-item">
            Typescript

            <svg class="tech-skills-green-square-icon" width="8" height="8">
              <use href="./img/icons.svg#tech-skills-black-square-icon"></use>
            </svg>
          </li>
        </ul>
        <ul class="marquee__line line-two line-order-two">
          <li class="li-item">
            HTML/CSS<svg
              class="tech-skills-green-square-icon"
              width="8"
              height="8"
            >
              <use href="./img/icons.svg#tech-skills-black-square-icon"></use>
            </svg>
          </li>
          <li class="li-item">
            JavaScript<svg
              class="tech-skills-green-square-icon"
              width="8"
              height="8"
            >
              <use href="./img/icons.svg#tech-skills-black-square-icon"></use>
            </svg>
          </li>
          <li class="li-item">
            React<svg
              class="tech-skills-green-square-icon"
              width="8"
              height="8"
            >
              <use href="./img/icons.svg#tech-skills-black-square-icon"></use>
            </svg>
          </li>
          <li class="li-item">
            Node.js<svg
              class="tech-skills-green-square-icon"
              width="8"
              height="8"
            >
              <use href="./img/icons.svg#tech-skills-black-square-icon"></use>
            </svg>
          </li>
          <li class="li-item">
            <div class="react-list">
              <span class="react-item">React </span
              ><span class="react-item">Native</span>
            </div>
            <svg class="tech-skills-green-square-icon" width="8" height="8">
              <use href="./img/icons.svg#tech-skills-black-square-icon"></use>
            </svg>
          </li>
          <li class="li-item">
            Typescript<svg
              class="tech-skills-green-square-icon"
              width="8"
              height="8"
            >
              <use href="./img/icons.svg#tech-skills-black-square-icon"></use>
            </svg>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
