<section class="section work-together-section" id="workTogether">
 
  <div class="container container-work-together work-together-container">
    

    <h2 class="title work-together-title">
      let’s <span class="title-work-together-green">work together</span>
    </h2>
    <div class="work-together-container-desktop">
      <div class="work-together-container-desktop-text">
        <p class="work-together-text">
          Contact me to transform your ideas into exceptional solutions.
        </p>
        <address class="work-together-adress">
          <a
            class="work-together-link work-together-link-tel"
            href="tel:+380904567890"
          >
            <svg class="work-together-adress-icon" width="24" height="24">
              <use href="./img/icons.svg#work-together-phone-icon"></use>
            </svg>
            +38 090 456 78 90</a
          >
          <a
            class="work-together-link work-together-link-mail"
            href="mailto:lloydjefferson@gmail.com"
          >
            <svg class="work-together-adress-icon" width="24" height="24">
              <use href="./img/icons.svg#work-together-letter-icon"></use>
            </svg>
            lloydjefferson@gmail.com</a
          >
          <a
            class="work-together-link work-together-link-geo"
            href=""
            target="_blank"
          >
            <svg class="work-together-adress-icon" width="24" height="24">
              <use href="./img/icons.svg#work-together-gps-icon"></use>
            </svg>
            USA, New York</a
          >
        </address>
      </div>
      <form  class="work-together-form">
        <div class="work-together-container-input">
        <input
          class="work-together-input work-together-input-email"
          type="text"
          placeholder="Your-email*"
        />
        <svg class="work-together-adress-icon-form hidden" width="24" height="24">
          <use href="./img/icons.svg#work-together-check-icon"></use>
        </svg>
        
      </div>

        <textarea
          class="work-together-input work-together-input-message"
          name="textarea"
          id="textarea"
          placeholder="Message"
        ></textarea>
        <p class="work-together-error-message">error</p>
        <button class="work-together-btn" type="submit">SEND MESSAGE</button>
      </form>
    </div>
  </div>
</section>

<div class="work-together-backdrop">
  <div class="work-together-modal">
    <button class="work-together-modal-btn-closing" type="button">
      <svg class="work-together-modal-btn-icin" width="24" height="24">
        <use href="./img/icons.svg#close-btn-modal-icon"></use>
      </svg>
    </button>

    <h3 class="work-together-modal-main">Thank you for your interest in cooperation!</h3>
    <p class="work-together-modal-second">
      The manager will contact you shortly to discuss further details and
      opportunities for cooperation. Please stay in touch.
    </p>
  </div>
</div>
