:root {
    --black: #292929;
    --accet-green: #00b068;
    --white: #f0f0f0;
    --light-grey: #e4e5e6;
    --light-accent: #bcdfd1;
    --font-family: "Poppins", sans-serif;
    --second-family: "Impact", sans-serif;
    --third-family: "Montserrat", sans-serif;
}
.header-container {
    padding: 36px 20px;
    max-width: 360px;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header-link-logo {
margin: 0 auto;
width: 180px;
height: 24px;
font-family: var(--second-family);
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 24px;
letter-spacing: 1.5px;
text-transform: uppercase;
color: var(--black);
}
.header-link-logo-text {
    color: var(--accet-green);
}
.header-nav {
    display: none;
}
.button-container {
    width: 32px;
    height: 32px;
    margin: 0;
}
.header-button {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-left: auto;
    padding: 0;
}
.hamburger {
    flex-direction: column;
    position: relative;
    top: 10px;
    right: 20px;
    width: 24px;
    height: 24px;
}
.menu-toggle {
}
.js-open-menu {
}
.header-button-icon {
    fill: var(--black);
}
.menu-container {
  bottom: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  pointer-events: none;
  visibility: hidden;
  width: 100%;
  height: 100%;
  background: url("/src/img/hero/decor-hero-modal-up-mob-1x.png") no-repeat fixed top right;;
  top: 50px;
  left: 0;
  z-index: 999;
  padding-top: 124px;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
.menu-container.is-open {
  transform: translateX(0);
  pointer-events: auto;
  visibility: visible;
}
.js-menu-container {
}
.mob-menu-list {
}
.mob-menu-item {
}
.mob-menu-link {
}
@media screen and (min-width: 768px) {
.header-container {
    padding: 36px 32px;
    max-width: 768px;
    height: 96px;
}
.header-nav {
    display: block;
}
.header-nav-list {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
}
.button-container {
    display: none;
}
.header-nav-link {
    font-weight: 300;
}
}
@media screen and (min-width: 1280px) {
    .header-container {
    max-width: 1280px;
    position: absolute;
    }
}


