.my-projects-title {
  font-family: 'Impact', sans-serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 1.23077;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #292929;
  margin-bottom: 40px;
  text-align: center;
}

.my-projects-item {
  margin-bottom: 40px;
}

.my-projects-title span {
  color: #00b068;
}

.my-projects-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #292929;
  margin-bottom: 16px;
  margin-top: 12px;
}

.my-projects-name {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #292929;
  margin-bottom: 16px;
}

.my-projects-btn-visit {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #292929;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  width: 125px;
  height: 48px;
  background: #e4e5e6;
  display: flex;
  gap: 12px;
  margin-left: auto;
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.my-projects-btn-visit:hover,
.my-projects-btn-visit:focus {
  background: #bbb;
}

.my-projects-btn-load-more {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55556;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #292929;
  background: none;
  border: none;
  margin: 0 auto;
  display: block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.my-projects-btn-load-more:hover,
.my-projects-btn-load-more:focus {
  color: #00b068;
}

.current {
  position: relative;
}

.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 2px;
  border-radius: 2px;
  background: #00b068;
  width: 100%;
}

.my-projects-btn-icon {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.my-projects-icon use {
  margin-left: 12px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  display: none;
}

@media screen and (min-width: 768px) {
  .my-projects-title {
    font-size: 108px;
    line-height: 1.14815;
    letter-spacing: 0.02em;
    margin-bottom: 60px;
  }

  .my-projects-text {
    margin-top: 16px;
  }

  .my-projects-name {
    font-size: 36px;
    line-height: 1.33333;
    letter-spacing: 0.01em;
  }

  .my-projects-item {
    margin-bottom: 60px;
  }
  .my-projects-name-btn {
    display: flex;
    justify-content: space-between;
  }
  .my-projects-btn-load-more {
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1280px) {
  .projects-img {
    width: 100%;
  }
  .my-projects-title {
    margin-bottom: 80px;
  }
  .my-projects-item {
    margin-bottom: 80px;
  }
}
