*,
*::before,
*::after {
  box-sizing: border-box;
}

.marquee {
  display: flex;
  margin: 0;
  gap: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 36px;

  line-height: 1.33333;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #292929;
  overflow: hidden;
  padding: 40px 0px;

  height: 128px;
  background-color: #bcdfd1;
}

.marquee__inner {
  display: flex;
}

.marquee__line {
  display: flex;
  /* align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 16px;
  position: relative;
  z-index: 3;
  padding-left: 0;
  overflow: hidden;

  margin: 0;
  padding: 10px 15px;
  
  white-space: nowrap;
  text-wrap: nowrap; */
  /* min-width: 100%; */

  animation-name: marqueeLine;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.tech-skills-green-square-icon {
  fill: #00b068;
  border-radius: 2px;
  width: 8px;
  height: 8px;
  align-items: center;
  margin-left: 16px;
  margin-right: 16px;
}
.tech-skills-black-square-icon {
  fill: none;
  border-radius: 2px;
  width: 8px;
  height: 8px;
  align-items: center;
  margin-left: 16px;
  margin-right: 16px;
}

.marqueet {
  display: flex;
  gap: 16px;
  background-size: contain;
  z-index: 1;
  margin: 0 -10px;
  background-color: #e4e5e6;
  transform: rotate(2deg);
  /* justify-content: flex-end; */
  white-space: nowrap;
  text-wrap: nowrap;
  color: #00b068;
}
.li-item {
  display: flex;
  /* gap: 16px;
  justify-content: space-around; */
  align-items: center;
  /* margin: 0 10px; */
  flex-grow: 1;
}
.tech-skills-title {
  display: none;
}
@keyframes marqueeLine {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}
.section-tech-skills {
  overflow: hidden;
}
.react-native {
  min-width: 275px;
}
.line-two {
  margin-left: -16px;
}
.react-list {
  display: flex;
}
/* .react-item {
} */
.react-item:first-child {
  margin-right: 5px;
}
.line-one {
  margin-right: 16px;
}
.inner-one {
  position: relative;
  z-index: 1;
}
.inner-two {
  position: relative;
  z-index: -1;
}
.line-order-two {
  position: relative;
  left: 2cqh;
}
.line-order-one {
  position: relative;
  right: 200px;
}
.wrapper-one {
  position: relative;
  z-index: 1;
}
